
<div class="modal-dialog">
    <form id="updateCustomPrice">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Review Custom Price</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>            
            <div class="modal-body">
                <!-- <input name="price_master_id" type="hidden" class="hidden" value="<%= customPriceData.price_master_id %>"> -->
                <input name="requestId" type="hidden" class="hidden" value="<%= customPriceData.id %>">
                <table width="100%" cellpadding="10" cellspacing="10">
                    <tr>
                        <td>Client</td>
                        <td>
                            <%= customPriceData.v_company %>
                                <!-- <input name="i_clientid" type="hidden" class="hidden" value="<%= customPriceData.i_clientid %>"> -->
                                <!-- <input name="i_empid" type="hidden" class="hidden" value="<%= customPriceData.i_empid %>"> -->
                                <!-- <input name="account_manager_id" type="hidden" class="hidden" value="<%= customPriceData.account_manager_id %>"> -->
                        </td>
                    </tr>
                    <tr>
                        <td>Pricing Head</td>
                        <td>
                            <input name="invoice_item" type="text" class="validate[required]" value="<%= customPriceData.invoice_item %>">
                        </td>
                    </tr>
                    <tr>
                        <td>Unit of Measurement</td>
                        <td>
                            <input name="price_unit" id="priceUnit" type="text" class="validate[required]" value="<%= customPriceData.price_unit %>">
                        </td>
                    </tr>

                    <tr>
                        <td>Currency</td>
                        <td>
                            <%= customPriceData.currency %>
                                <input name="currency" type="hidden" class="hidden" value="<%= customPriceData.currency %>">
                        </td>
                    </tr>

                    <tr>
                        <td>Price</td>
                        <td>
                            <input name="price_per_unit" type="text" class="validate[required,custom[number]]" value="<%= customPriceData.price_per_unit %>">
                        </td>
                    </tr>
                    <tr>
                        <td>Volume</td>
                        <td>
                            <input name="volume" type="text" class="validate[required,custom[number]]" value="<%= (customPriceData.volume?parseFloat(customPriceData.volume).toFixed(2):''); %>">
                        </td>
                    </tr>
                    <tr>
                            <td>Requested</td>
                            <td>
                                    <div class='input-group date' id='requested-date'>
                                            <input name="requested" type="text" class="pull-left validate[required]" value="<%=customPriceData.requested%>">
                                            <span class="input-group-addon pull-left">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                
                            </td>
                        </tr>
                    <tr>
                        <td>Comment</td>
                        <td>
                            
                                <textarea name="description" ><%= customPriceData.description.trim() %></textarea>
                                <!-- <input name="description"  type="text" class=""> -->
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <input type="hidden" name="updateStatus" id="updateStatus" value="1">
                    <button type="button" class="btn btn-sm btn-success" id="approve" data-status-id="1">Approve</button>
                    <button type="button" class="btn btn-sm btn-danger" id="reject" data-status-id="2">Reject</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $("#priceUnit").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/price/getPriceUnit",
                    dataType: "jsonp",
                    type: "post",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.price_unit,//text comes from a collection of mongo
                                value: item.price_unit
                            };
                        }));

                    }
                });
            },
            minLength: 2

        });
        $('#requested-date').datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true


    });
    });
</script>