<% include ../layout/header %>
    <div class="fix-left-side left-side-menu">
        <% include ../layout/logo-section %>
            <% include ../layout/left-menu %>
    </div>
    <% include ../layout/header-right-menu %>
        </div>
        <div class="content-wrapper">
            <div class="sortable">
                <div class="col-md-12">
                    <div class="">
                        <div class="panel-heading">
                            User Profile
                        </div>

                        <div class="panel-body">

                            <div class="alert alert-success fade in <%=(messages.successMessage?'':'hidden')%>">
                                <a href="#" class="close alert-close">&times;</a>
                                <strong>Success!</strong>
                                <span id="msg-div-error">
                                    <%= messages.successMessage %>
                                </span>
                            </div>

                            <form id="updateProfile" enctype="multipart/form-data" method="POST">
                                <div class="form-group">
                                    <label class="control-label" for="FirstName">First Name</label>:
                                    <%=data.first_name%>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="LastName">Last Name</label>:
                                    <%=data.last_name%>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Email">Email</label>:
                                    <%=data.email%>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Email">Role</label>:
                                    <%= data.name%>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <% include ../layout/footer %>