<!--footer start-->

<footer>
    <div class="row">
        <div class="col-md-7">
            Copyright 2018 DIN Engineering Services LLP All rights reserved.
        </div>
        <!-- <div class="col-md-5">
            <div class="last-loginf  pull-right">Last Login :
                <span class="text-primary">10:30AM</span>, 22/March/2018
            </div>
        </div> -->
    </div>
</footer>
<!--footer end-->
</div>
<!--Right Side Ends-->
</div>

<% if(sessUserData) { %>
<div id="chatListWindow">
    <div class="chat-box-header">
        <a href="javascript:void(0);" id="chat-arrow" >
            Live Chat
            <span id="total-online">(Online Users)</span>
        </a>

    </div>
    <input type="hidden" name="userSelf" id="userSelf" data-id="<%=sessUserData.id%>" data-email="<%=sessUserData.v_email%>" data-username="<%=sessUserData.user_name%>" >
    
    <div id="chatUsers" class="khide">
        <ul>
            <li>
                <a href="javascript:void(0)" onclick="javascript:chatWith('531', 'IU User, Archana','1',''); ">Archana</a>
            </li>
        </ul>

    </div>
</div>
<div class="chatbox-container">
    <div class="chatbox hide" id="chatboxTemplate"  style="float: left;" >
        <div class="chatboxhead">
            <div class="chatboxtitle">Receiver</div>
            <div class="chatboxoptions">
                <a href="javascript:void(0)" class="close-chatbox">X</a>
            </div>
            <br clear="all">
        </div>
        <div class="chatboxcontent"></div>
        <div class="chatboxinput">
            <textarea class="chatboxtextarea" ></textarea>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="<%=assetsLocation%>/js/chat.js"></script>

<script>
    var userSelfId = '<%= sessUserData.id%>';
    $(function(){ 
        socket.emit('makeOnline', {userId:'<%= sessUserData.id%>', userName:'<%= sessUserData.user_name%>', userEmail:'<%= sessUserData.v_email%>'});
        
    });
</script>
<% } %>
</body>




</html>