<% include ../layout/header %>
    <!--Left Side Starts-->
    <div class="fix-left-side left-side-menu">
        <!--Logo Area Starts-->
        <% include ../layout/logo-section %>
            <!--Logo Area Ends-->
            <!--Left side Menu Starts-->
            <% include ../layout/left-menu %>
                <!--Left Menu Ends-->
    </div>
    <!--Left Side Ends-->
    

            <!--Header Right Menu starts-->
            <% include ../layout/header-right-menu %>
                <!--Header Right Menu Ends-->

        </div>
        <!--Right Side Header Ends-->

        <!--Content Wrapper Starts-->
        <div class="content-wrapper">
            
            <!-- Drag and Drog Functionality Div Starts-->
            <div class="sortable">
                <div class="col-md-12">
                    <!--editable starts-->
                    <div class="panel">
                        <div class="panel-heading">
                            Revenue Summary by Days Selection
                                  
                                <div class="clearfix add-new pull-right" id="dataTableButtons">
                    
                                </div>
                                
                        </div>

                        <div class="panel-body">
                                <div class="alert alert-danger fade in hidden">
                                        <a href="#" class="close alert-close" >&times;</a>
                                        <strong>Error!</strong> <span id="msg-div-error"></span>
                                    </div>
                                <div class="alert alert-success fade in hidden">
                                        <a href="#" class="close alert-close" >&times;</a>
                                        <strong>Success!</strong> <span id="msg-div"></span>
                                       
                                    </div>
                                    <% include ../elements/revenue_summary_day_filter %>
                            
                           
                            
                            <table class="table table-striped table-hover table-bordered display dataTable no-footer" id="revenue-summary-table-days"  >
                                    <thead>
                                            <% var dateArr = []; for (var d = new Date(fromDateInitial); d < new Date(toDateInitial); d=new Date(new Date(d).getFullYear() ,new Date(d).getMonth() ,new Date(d).getDate()+1)) { dateArr.push(moment(new Date(d)).format("DD-MM-YYYY"));
                                     } %>
                                                
                                            
                                        <tr role="row">
                                            <th class="sorting" rowspan="2" width="13%" >Client </th>
                                            <th class="sorting"   width="4%" rowspan="2">CCY </th>
                                            <th class="text-center"    colspan="<%=dateArr.length%>" >Amount ON </th>
                                        </tr>
                                        <tr>
                                            <% for(var i=0;i<dateArr.length; i++){%>
                                                    <th  class="sorting text-align-right" width="10%"><%=dateArr[i] %></th>
                                                
                                            <% } %>
                                            
                                        </tr>
                                        
                                        
                                    </thead>
                                    
                                    
                                <tbody>  
                                        <%   var totalRowsByCCR = [];
                                             var totalCurrency = [];
                                        if(displayList.length>0){
                                            
                                            displayList.forEach(function(clientRow){
                                                if(totalCurrency.indexOf(clientRow.currency)< 0){
                                                    totalCurrency.push(clientRow.currency);
                                                }
                                                
                                                %>
                                                <tr>
                                                    <td><%=clientRow.client_name %></td>
                                                    <td><%=clientRow.currency %></td>
                                                    <% for(var d = new Date(fromDateInitial); d < new Date(toDateInitial); d=new Date(new Date(d).getFullYear() ,new Date(d).getMonth() ,new Date(d).getDate()+1)) {  %>
                                                        <td>
                                                            
                                                        <% 
                                                          for(row of clientRow.amtArr ){
                                                              if(moment(new Date(d)).format("YYYY-MM-DD")==moment(row.date_display).format("YYYY-MM-DD")){
                                                                if(totalRowsByCCR.length>0){
                                                                    var ccrTotalesists = false;
                                                                    for(var i =0; i<totalRowsByCCR.length; i++){
                                                                        if(totalRowsByCCR[i].ccr == clientRow.currency && moment(new Date(row.date_display)).format("YYYY-MM-DD")==moment(totalRowsByCCR[i].ccrDate).format("YYYY-MM-DD")){
                                                                            totalRowsByCCR[i].ccrTotal = parseFloat(totalRowsByCCR[i].ccrTotal) + parseFloat(row.amt);
                                                                            ccrTotalesists = true;
                                                                        }
                                                                    }
                                                                    if(!ccrTotalesists){
                                                                        totalRowsByCCR.push({"ccr":clientRow.currency,"ccrDate":row.date_display,"ccrTotal":row.amt});
                                                                    }
                                                                }else{
                                                                    totalRowsByCCR.push({"ccr":clientRow.currency,"ccrDate":row.date_display,"ccrTotal":row.amt});
                                                                }
                                                                  %>
                                                                  <%= row.amt %>
                                                                  <%
                                                              } %>
                                                                
                                                            <% 
                                                          }%>
                                                        </td>
                                                        <%
                                                        } %>
                                                </tr>
                                        <% }); 
                                         }%>
                                                            
                                </tbody>
                            </table>
                            <div class="total-ammount-summary pull-right">
                                    <h5>Total Amount By Currency</h5>
                                    
                                        <table class="table table-striped table-hover table-bordered display dataTable no-footer"  id="ccy-total" >
                                                <thead>
                                                        <% var dateArr = []; for (var d = new Date(fromDateInitial); d < new Date(toDateInitial); d=new Date(new Date(d).getFullYear() ,new Date(d).getMonth() ,new Date(d).getDate()+1)) { dateArr.push(moment(new Date(d)).format("DD-MM-YYYY"));
                                                 } %>
                                                            
                                                        
                                                    <tr role="row">
                                                        <th class="sorting" rowspan="2" width="5%" >Currency </th>
                                                        
                                                        <th class="text-center"    colspan="<%=dateArr.length%>" >Amount ON </th>
                                                    </tr>
                                                    <tr>
                                                        <% for(var i=0;i<dateArr.length; i++){%>
                                                                <th  class="sorting text-align-right" width="10%"><%=dateArr[i] %></th>
                                                            
                                                        <% } %>
                                                        
                                                    </tr>
                                                    
                                                    
                                                </thead>
                                                <tbody> 
                                                    <% if(totalCurrency.length>0){ 
                                                        for(var i=0; i<totalCurrency.length; i++){
                                                        %>
                                                        <tr>
                                                                <td><%=totalCurrency[i] %></td>   
                                                        <% for(var d = new Date(fromDateInitial); d < new Date(toDateInitial); d=new Date(new Date(d).getFullYear() ,new Date(d).getMonth() ,new Date(d).getDate()+1)) { 
                                                            %>
                                                            <td>
                                                            <%
                                                            totalRowsByCCR.forEach(function(ccRow){ 
                                                                if(ccRow.ccr==totalCurrency[i] && moment(ccRow.ccrDate).format("YYYY-MM-DD")==moment(new Date(d)).format("YYYY-MM-DD")){

                                                               
                                                                %>
                                                                <%=ccRow.ccrTotal.toFixed(2) %>   

                                                           <% } }) %>
                                                        </td>
                                                            %> 

                                                            
                                                            <% } %>
                                                        </tr>
                                                        <% } 
                                                    } %>    
                                                </tbody>
                                            </table> 
                                </div>
                            
                            

                        </div>
                    </div>
                </div>
                <!--Editable Table Ends-->

            </div>
        </div>
        <!-- Drag and Drog Functionality Div Starts-->
    </div>
    <!--Content Wrapper Ends-->
    <% include ../elements/slab_price %>
    
    <script src="<%=assetsLocation%>/js/revenue_summary_days.js"></script>
    <% include ../layout/footer %>
      