<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Dimension I – PVR Application</title>
    <link href="<%=assetsLocation%>/css/bootstrap-datepicker.css" rel="stylesheet">
    <link href="<%=assetsLocation%>/css/mis-style.css" rel="stylesheet">
    <link href="<%=assetsLocation%>/css/mis-responsive-style.css" rel="stylesheet">
   
    <link href="<%=assetsLocation%>/css/validationEngine.jquery.css" rel="stylesheet">
    <link href="<%=assetsLocation%>/css/preloader.css" rel="stylesheet">
    <link href="<%=assetsLocation%>/css/bootstrap-combobox.css" rel="stylesheet">
   
    <link href="<%=assetsLocation%>/css/dataTable/jquery.dataTables.min.css" rel="stylesheet">
    
    <link href="<%=assetsLocation%>/css/dataTable/responsive.dataTables.min.css" rel="stylesheet">
    <link href="<%=assetsLocation%>/css/custom-style.css" rel="stylesheet">
    
    <!-- <script src="<%=assetsLocation%>/js/jquery-3.3.1.js"></script> -->
    <script src="<%=assetsLocation%>/js/jquery-1.12.4.js"></script>

    <script src="<%=assetsLocation%>/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="<%=assetsLocation%>/js/bootstrap.min.js"></script>
    <script src="<%=assetsLocation%>/js/jquery.nicescroll.js"></script>
    <script src="<%=assetsLocation%>/js/data-tables/js/jquery.dataTables.min.js" ></script>
<script src="<%=assetsLocation%>/js/data-tables/js/dataTables.bootstrap.min.js" ></script>
<script src="<%=assetsLocation%>/js/moment.js"></script>
<!-- <script src="<%=assetsLocation%>/js/data-tables/js/jquery.jeditable.js"></script> -->
<script src="<%=assetsLocation%>/js/data-tables/js/dataTables.buttons.min.js" ></script>
<script src="<%=assetsLocation%>/js/data-tables/js/dataTables.checkboxes.min.js"></script> 
<script src="<%=assetsLocation%>/js/data-tables/js/buttons.bootstrap.min.js" ></script>
<script src="<%=assetsLocation%>/js/data-tables/js/jszip.min.js" ></script>
<script src="<%=assetsLocation%>/js/data-tables/js/pdfmake.min.js" ></script>
<script src="<%=assetsLocation%>/js/data-tables/js/vfs_fonts.js" ></script>
<script src="<%=assetsLocation%>/js/data-tables/js/buttons.html5.min.js" ></script>
<script src="<%=assetsLocation%>/js/data-tables/js/buttons.print.min.js" ></script>
<script src="<%=assetsLocation%>/js/data-tables/js/buttons.colVis.min.js" ></script>
<script src="<%=assetsLocation%>/js/data-tables/js/bootstrap-datepicker.min.js"></script>
<script src="<%=assetsLocation%>/js/data-tables/js/dataTables.rowGroup.min.js" ></script>
<script src="<%=assetsLocation%>/js/jquery.tablednd.js"></script>
<script src="<%=assetsLocation%>/js/scripts.js"></script>
<script src="<%=assetsLocation%>/js/jquery.validationEngine.js"></script>
<script src="<%=assetsLocation%>/js/jquery.validationEngine-en.js"></script>
<script src="<%=assetsLocation%>/js/jquery.preloader.js"></script>
</head>

<body class="header">

    <div class="main_container full-wrapper">
        